.container {
  min-height: 500px;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  i {
    font-size: 80px;
    line-height: 25.6px;
    text-align: start;
    letter-spacing: normal;
    margin: 50px;
  }

  h1 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1.26;
    margin-bottom: 0;
  }

  h2 {
    font-size: 16px;
  }
}
